@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;600;700&display=swap');
// @import url('https://fonts.adobe.com/fonts/bodoni-pt-variable#fonts-section');
@font-face {
    font-family: 'Maiah';
    src: local("Maiah"),
    url('font/maiah-regulardemo.woff')format("woff");
}
*{
    font-family: 'Maiah','Noto Serif TC', serif;
    // font-family: "bodoni-pt-variable",'Noto Serif TC', serif;
    // font-variation-settings: 'opsz' 10, 'wght' 400;
}
a{
    color: black;
}