@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;600;700&display=swap");
@import url("https://use.typekit.net/cfw8pqb.css");
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  position: relative;
}

body {
  font-family: "din-condensed", "Noto Serif TC", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 200vh;
}

#toggleSidebar {
  display: none;
}

.navClass {
  width: 100%;
  height: 58px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #231815 solid;
  background-color: #fff;
  z-index: 2;
}
.navClass .webLogo {
  cursor: pointer;
  padding: 0px 20px 0px 40px;
}
.navClass .webLogo svg {
  width: 220px;
  fill: #231815;
}
.navClass .hamBtn {
  display: none;
}
.navClass .md_ontour {
  display: none;
}

.navList {
  opacity: 1;
  width: 70%;
}
.navList ul {
  display: flex;
}
.navList li {
  list-style: none;
  margin: 0px 20px 0px 0px;
  padding: 0px 5px 5px 5px;
  font-size: 28px;
  cursor: pointer;
}
.navList li::after {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #83ff00;
  transition: 0.3s;
}
.navList li:hover::after {
  width: 80%;
}
.navList #navId {
  position: absolute;
  bottom: 0%;
  right: 0;
}

.onTitem .tour-carousel-group {
  height: 55px;
  overflow: hidden;
  margin-bottom: 10px;
}
.onTitem .tour-carousel-group .carousel-text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-right: 52px;
}
.onTitem .tour-carousel-group a {
  text-decoration: none;
  color: #fff;
}
.onTitem .tour-carousel-group .show {
  width: 80%;
  height: 48px;
  overflow: hidden;
  margin-top: 8px;
}
.onTitem .tour-carousel-group .show .date {
  font-size: 16px;
  letter-spacing: 1.5px;
}
.onTitem .tour-carousel-group .show .program {
  width: 180%;
  font-size: 18px;
}
.onTitem .tour-carousel-group .show:hover .program {
  animation: marqueeLoop 6s -3s linear infinite;
}
.onTitem .tour-carousel-group img {
  height: 32px;
  margin-bottom: 4px;
}
.onTitem .textWhite {
  transform: translateY(0px);
  transition: 0.5s;
  color: #fff;
}
.onTitem .textGray {
  transform: translateY(-55px);
  transition: 0.5s;
  color: #7f7f7f;
}

.language {
  position: relative;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 20px;
}
.language a {
  text-decoration: none;
  color: black;
}
.language li {
  margin: 0px 5px;
  padding: 0px 5px 5px 5px;
  font-size: 18px;
  list-style: none;
}
.language li::after {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #83ff00;
  transition: 0.3s;
}
.language li:hover::after {
  width: 100%;
}

.logo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 160px;
  margin: 36px 40px;
}

.cls-logo {
  fill: #83ff00;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 580px;
  overflow: hidden;
  z-index: 3;
}
.banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner_nav_btn {
  position: absolute;
  top: 58px;
  left: 40px;
  z-index: 3;
  font-size: 28px;
}
.banner .banner_nav_btn li {
  list-style: none;
  margin: 0px 0px 10px 0px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.banner .banner_nav_btn li:hover {
  color: #83ff00;
}
.banner .banner_nav_btn .socialMedia {
  display: flex;
}
.banner .banner_nav_btn .socialMedia svg {
  width: 30px;
  margin-right: 5px;
  fill: #fff;
  transition: 0.3s;
}
.banner .banner_nav_btn .socialMedia svg:hover {
  fill: #83ff00;
}
.banner .banner_lang_btn {
  position: absolute;
  color: #fff;
  top: 16px;
  right: 0;
  z-index: 3;
}
.banner .banner_lang_btn li {
  color: #fff;
}
.banner .banner_lang_btn li:hover {
  color: #83ff00;
}

.contain {
  top: 620px;
  margin: 0px auto;
  text-align: center;
}
.contain h2 {
  margin: 0;
  padding: 10;
  font-weight: 400;
}
.contain p {
  margin: 0;
  padding: 20px;
}

.footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
}

input[type=radio] {
  display: none;
}

#numBtn1[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(0px);
}
#numBtn1[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(-55px);
}

#numBtn2[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(-55px);
}
#numBtn2[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(-110px);
}

#numBtn3[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(-110px);
}
#numBtn3[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(-165px);
}

#numBtn4[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(-165px);
}
#numBtn4[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(0px);
}

#numBtn1[type=radio]:checked ~ .carousel-manual #numBtn1 {
  color: #fff;
}

#numBtn2[type=radio]:checked ~ .carousel-manual #numBtn2 {
  color: #fff;
}

#numBtn3[type=radio]:checked ~ .carousel-manual #numBtn3 {
  color: #fff;
}

#numBtn4[type=radio]:checked ~ .carousel-manual #numBtn4 {
  color: #fff;
}

@media (max-width: 1060px) {
  .navClass {
    z-index: 10;
  }
  .navClass .toggleIcon {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    transform: translateY(-50%);
    top: 45%;
    cursor: pointer;
  }
  .navClass .toggleIcon div {
    background-color: #231815;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: all 0.3s;
  }
  .navClass .toggleIcon .Mline1 {
    transform: rotate(45deg);
    top: 35%;
  }
  .navClass .toggleIcon .Mline2 {
    margin: 12px 0px;
    opacity: 0;
  }
  .navClass .toggleIcon .Mline3 {
    transform: rotate(-45deg);
    top: -35%;
  }
  .navClass .navList {
    display: flex;
    padding: 40px 0px;
    width: 100%;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    transition: all 0.3s;
  }
  .navClass .navList ul {
    flex-direction: column;
  }
  .navClass .navList ul li {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0px 0px 20px 0px;
    transition: 0.3s;
  }
  .navClass .navList ul li:hover {
    color: #83ff00;
  }
  .navClass .navList ul li:hover::after {
    width: 0%;
  }
  .navClass .listitem {
    flex: 1;
    justify-content: space-around;
    padding: 0px 0px 0px 52px;
  }
  .navClass .onTitem {
    flex: 1.2;
  }
  .navClass .onTitem .carousel-manual {
    position: absolute;
    top: -42px;
    right: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navClass .onTitem .carousel-manual .manual-btn {
    color: #7f7f7f;
    display: inline-block;
    cursor: pointer;
    padding: 0px 4px;
    transition: 0.5s;
  }
  .navClass .onTitem .carousel-manual .manual-btn:hover {
    color: #fff;
  }
  .navClass .onTitem .carousel-manual .manual-btn:not(:last-child) {
    border-right: 1px solid #7f7f7f;
    padding-right: 12px;
    margin-right: 8px;
  }
  .navClass .onTitem .numBtns {
    position: absolute;
    top: -50px;
    right: 20px;
  }
  .navClass .lg_ontour {
    display: none;
  }
  .navClass .md_ontour {
    display: flex;
    color: #83ff00;
  }
  .navClass #navId {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #fff;
  }
  .navClass #navId li {
    color: #fff;
  }
  .banner .banner_nav_btn {
    display: none;
  }
  .banner .banner_lang_btn {
    display: none;
  }
  input[type=checkbox]:checked ~ .toggleIcon .Mline1 {
    transform: rotate(0deg);
    top: 0%;
  }
  input[type=checkbox]:checked ~ .toggleIcon .Mline2 {
    opacity: 1;
  }
  input[type=checkbox]:checked ~ .toggleIcon .Mline3 {
    transform: rotate(0deg);
    top: 0%;
  }
  input[type=checkbox]:checked ~ .toggleIcon:hover .Mline2 {
    width: 75%;
    margin-left: 12px;
  }
  input[type=checkbox]:checked ~ .toggleIcon:hover .Mline3 {
    width: 60%;
    margin-left: 16px;
  }
  input[type=checkbox]:checked ~ .navList {
    opacity: 0;
  }
}
@media (max-width: 720px) {
  .navClass .webLogo {
    padding: 0px 15px;
  }
  .navClass .navList {
    flex-direction: column;
    height: calc(100vh - 58px);
    padding: 24px 0px;
  }
  .navClass .navList ul li {
    font-size: 36px;
    padding: 0px 0px 20px 0px;
  }
  .navClass .listitem {
    justify-content: space-around;
    text-align: left;
    padding: 0;
    align-items: center;
  }
  .navClass .listitem li {
    width: 138px;
  }
  .navClass .listitem .lg_ontour {
    display: none;
  }
  .navClass .onTitem {
    border-top: 1px solid #fff;
    margin: 0px 16px;
    padding: 12px;
    flex: 1;
  }
  .navClass .onTitem .carousel-manual {
    top: -40px;
    right: 0;
  }
  .navClass .onTitem .tour-carousel-group .carousel-text {
    margin-right: 0;
  }
  .navClass .onTitem .tour-carousel-group .show {
    width: 70%;
  }
  .navClass .onTitem .tour-carousel-group .show .date {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .navClass #navId {
    bottom: 60px;
  }
  .navClass .language {
    padding: 0px 8px;
  }
  .logo {
    z-index: 10;
    width: 120px;
    margin: 15px 17px;
  }
  .footer p {
    width: 30%;
  }
}
@keyframes marqueeLoop {
  0% {
    left: 150%;
  }
  100% {
    left: -150%;
  }
}/*# sourceMappingURL=main.css.map */