@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  position: relative;
}

body {
  font-family: "Oswald", "Noto Serif TC", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 3px;
}

::-moz-selection {
  color: #292423;
  background-color: #83ff00;
}

::selection {
  color: #292423;
  background-color: #83ff00;
}

#toggleSidebar {
  display: none;
}

.navClass {
  width: 100%;
  height: 58px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  z-index: 2;
}
.navClass .webLogo {
  cursor: pointer;
  padding: 0px 20px 0px 40px;
}
.navClass .webLogo svg {
  width: 220px;
  color: #231815;
  fill: #231815;
  transform: translateY(4%);
}
.navClass .hamBtn {
  display: none;
}
.navClass .md_ontour {
  display: none;
}

.navList {
  opacity: 1;
  width: 100%;
  display: flex;
  align-items: center;
}
.navList ul {
  display: flex;
}
.navList li {
  list-style: none;
  margin: 0px 20px 0px 0px;
  padding: 0px 5px 5px 5px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}
.navList li::after {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #83ff00;
  transition: 0.3s;
}
.navList li:hover::after {
  width: 80%;
}
.navList li a {
  font-weight: 400;
  text-decoration: none;
  color: #231815;
}
.navList .listitem {
  margin: 0 auto;
}
.navList .listitem li {
  padding: 0px 16px;
}
.navList .listitem .artists, .navList .listitem .works {
  transition: all 0.3s;
}
.navList .listitem .artists::before, .navList .listitem .works::before {
  content: "✖";
  position: absolute;
  font-size: 12px;
  top: 0%;
  right: -20%;
  display: inline-block;
  transform: translate(-150%, 0%) rotate(45deg);
  transition: all 0.3s;
}
.navList .listitem .artists:hover::before, .navList .listitem .works:hover::before {
  color: #83ff00;
}
.navList .listitem .artists ul, .navList .listitem .works ul {
  position: absolute;
  top: 48px;
  left: 0%;
  display: flex;
  flex-direction: column;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.43);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.navList .listitem .artists ul li, .navList .listitem .works ul li {
  cursor: pointer;
  width: 150px;
  margin: 0;
  padding: 0px 16px 4px;
  background-color: #fff;
  transition: 0.3s;
}
.navList .listitem .artists ul li::before, .navList .listitem .works ul li::before {
  content: "- ";
  position: relative;
}
.navList .listitem .artists ul li::after, .navList .listitem .works ul li::after {
  display: none;
}
.navList .listitem .artists ul li:hover, .navList .listitem .works ul li:hover {
  background-color: #7f7f7f;
  color: #fff;
}
.navList .listitem .artists ul li:hover a, .navList .listitem .works ul li:hover a {
  color: #fff;
}
.navList .listitem .artists ul a, .navList .listitem .works ul a {
  font-size: 20px;
  color: #231815;
}
.navList .listitem .artists:hover::before {
  transform: translate(-25%, 5%) rotate(0deg);
  opacity: 0;
}
.navList .listitem .artists:hover ul {
  height: 120px;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.43);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.navList .listitem .works:hover::before {
  transform: translate(-25%, 5%) rotate(0deg);
  opacity: 0;
}
.navList .listitem .works:hover ul {
  height: 158px;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.43);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.navList #navId {
  position: relative;
}
.navList .logo {
  display: none;
}

.onTitem .tour-carousel-group {
  height: 55px;
  overflow: hidden;
  margin-bottom: 10px;
}
.onTitem .tour-carousel-group .carousel-text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-right: 52px;
}
.onTitem .tour-carousel-group a {
  text-decoration: none;
  color: #fff;
}
.onTitem .tour-carousel-group .show {
  width: 80%;
  height: 48px;
  overflow: hidden;
  margin-top: 8px;
}
.onTitem .tour-carousel-group .show .date {
  font-size: 16px;
  letter-spacing: 1.5px;
}
.onTitem .tour-carousel-group .show .program {
  width: 180%;
  font-size: 18px;
  line-height: 27px;
}
.onTitem .tour-carousel-group .show:hover .program {
  animation: marqueeLoop 6s -3s linear infinite;
}
.onTitem .tour-carousel-group img {
  height: 32px;
  margin-bottom: 4px;
}
.onTitem .textWhite {
  transform: translateY(0px);
  transition: 0.5s;
  color: #fff;
}
.onTitem .textGray {
  transform: translateY(-55px);
  transition: 0.5s;
  color: #7f7f7f;
}

.language {
  position: relative;
  right: 0;
  display: flex;
  align-items: center;
  margin-left: 160px;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 20px;
  transform: translateY(4px);
}
.language a {
  text-decoration: none;
  color: #231815;
}
.language li {
  margin: 0px 5px;
  padding: 0px 5px 5px 5px;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}
.language li::after {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #83ff00;
  transition: 0.3s;
}
.language li:hover::after {
  width: 100%;
}
.language #zh-tw {
  font-size: 16px;
}

.logo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 120px;
  margin: 36px 40px;
}

.cls-logo {
  fill: #83ff00;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 460px;
  overflow: hidden;
  z-index: 3;
}
.banner .imgs {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222;
  background-image: url(img/banner-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation: bannerSlide 20s ease-in-out -1s infinite alternate forwards;
}
.banner .banner_nav_btn {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 3;
  font-size: 26px;
}
.banner .banner_nav_btn li {
  list-style: none;
  margin: 0px 0px 8px 0px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.banner .banner_nav_btn li a {
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
  color: #fff;
}
.banner .banner_nav_btn li a:hover {
  color: #83ff00;
}
.banner .banner_nav_btn li:hover {
  color: #83ff00;
}
.banner .banner_nav_btn .artists, .banner .banner_nav_btn .works {
  transition: all 0.3s;
}
.banner .banner_nav_btn .artists ul, .banner .banner_nav_btn .works ul {
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
}
.banner .banner_nav_btn .artists ul li, .banner .banner_nav_btn .works ul li {
  font-size: 18px;
  line-height: 1.4;
  padding-left: 8px;
}
.banner .banner_nav_btn .artists ul li::before, .banner .banner_nav_btn .works ul li::before {
  content: "- ";
  position: relative;
}
.banner .banner_nav_btn .artists ul li:nth-child(1), .banner .banner_nav_btn .works ul li:nth-child(1) {
  padding-top: 10px;
}
.banner .banner_nav_btn .artists::before, .banner .banner_nav_btn .works::before {
  position: absolute;
  content: "✖";
  font-size: 16px;
  font-weight: 600;
  right: 66px;
  display: inline-block;
  transform: translate(0%, 2%) rotate(45deg);
  transition: all 0.3s;
}
.banner .banner_nav_btn .works::before {
  right: 72px;
}
.banner .banner_nav_btn .artOpen::before {
  transform: translate(0%, 2%) rotate(0deg);
  opacity: 0;
}
.banner .banner_nav_btn .artOpen ul {
  height: 100px;
}
.banner .banner_nav_btn .workOpen::before {
  transform: translate(-20%, 4%) rotate(0deg);
  opacity: 0;
}
.banner .banner_nav_btn .workOpen ul {
  height: 140px;
}
.banner .banner_nav_btn .socialMedia {
  display: flex;
  margin-top: 30px;
}
.banner .banner_nav_btn .socialMedia svg {
  width: 30px;
  margin-right: 5px;
  fill: #fff;
  transition: 0.3s;
}
.banner .banner_nav_btn .socialMedia svg:hover {
  fill: #83ff00;
}
.banner .banner_lang_btn {
  position: absolute;
  color: #fff;
  top: 16px;
  right: 0;
  z-index: 3;
}
.banner .banner_lang_btn li {
  color: #fff;
}
.banner .banner_lang_btn li:hover {
  color: #83ff00;
}
.banner .banner_lang_btn #zh-tw {
  font-size: 16px;
}

.container {
  top: 460px;
  position: relative;
  margin: 0px auto;
  padding-top: 24px;
  text-align: center;
  max-width: 1280px;
}
.container h2 {
  margin: 0;
  padding: 10;
  font-weight: 400;
}
.container p {
  margin: 0;
  padding: 20px;
}
.container h3 {
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  padding: 0px 10px;
  line-height: 1.8;
}
.container .indexTit {
  margin-top: 100px;
}
.container .contact {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .contact div {
  flex: 1;
  display: inline;
  padding: 0px 10px;
  line-height: 32px;
}
.container .contact div:nth-child(1) {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.container .contact div:nth-child(1) a {
  color: #231815;
  text-decoration: none;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 1px;
}
.container .contact div:nth-child(1) a:hover {
  color: #83ff00;
}
.container .contact div:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
}
.container .contact .socialMail {
  margin-right: 100px;
}
.container .contact .socialMedia {
  margin-right: 20px;
}
.container .contact .socialMedia img {
  width: 30px;
}
.container .contact .socialMedia a, .container .contact .socialMedia div {
  display: inline;
  width: 30px;
  cursor: pointer;
  padding: 8px;
}
.container .contact .socialMedia svg {
  width: 30px;
  fill: #231815;
  transition: 0.1s;
}
.container .contact .socialMedia svg:hover {
  fill: #83ff00;
}

.footer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  bottom: 0;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
}

input[type=radio] {
  display: none;
}

#numBtn1[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(0px);
}
#numBtn1[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(-60px);
}

#numBtn2[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(-60px);
}
#numBtn2[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(-120px);
}

#numBtn3[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(-120px);
}
#numBtn3[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(-180px);
}

#numBtn4[type=radio]:checked ~ .tour-carousel-group .textWhite {
  transform: translateY(-180px);
}
#numBtn4[type=radio]:checked ~ .tour-carousel-group .textGray {
  transform: translateY(0px);
}

#numBtn1[type=radio]:checked ~ .carousel-manual #numBtn1 {
  color: #fff;
}

#numBtn2[type=radio]:checked ~ .carousel-manual #numBtn2 {
  color: #fff;
}

#numBtn3[type=radio]:checked ~ .carousel-manual #numBtn3 {
  color: #fff;
}

#numBtn4[type=radio]:checked ~ .carousel-manual #numBtn4 {
  color: #fff;
}

@media (max-width: 1140px) {
  .navClass {
    z-index: 10;
  }
  .navClass .toggleIcon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transform: translateY(-50%);
    top: 45%;
    cursor: pointer;
  }
  .navClass .toggleIcon div {
    background-color: #231815;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: all 0.3s;
  }
  .navClass .toggleIcon .Mline1 {
    transform: rotate(45deg);
    top: 35%;
  }
  .navClass .toggleIcon .Mline2 {
    margin: 12px 0px;
    opacity: 0;
  }
  .navClass .toggleIcon .Mline3 {
    transform: rotate(-45deg);
    top: -35%;
  }
  .navClass .navList {
    display: flex;
    align-items: start;
    padding: 40px 0px;
    width: 100%;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
    transition: all 0.3s;
  }
  .navClass .navList a {
    color: #fff;
  }
  .navClass .navList ul {
    flex-direction: column;
  }
  .navClass .navList ul li {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0px 0px 12px 0px;
    transition: 0.3s;
  }
  .navClass .navList ul li:hover {
    color: #83ff00;
  }
  .navClass .navList ul li:hover a {
    color: #83ff00;
  }
  .navClass .navList ul li:hover::after {
    width: 0%;
  }
  .navClass .listitem {
    flex: 1;
    justify-content: space-around;
    padding: 0px 0px 0px 52px;
  }
  .navClass .listitem .artists ul, .navClass .listitem .works ul {
    position: relative;
    top: 8px;
    height: 0;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    border-radius: 0px;
  }
  .navClass .listitem .artists ul li, .navClass .listitem .works ul li {
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    border: 0px;
    padding: 4px 8px;
  }
  .navClass .listitem .artists ul li:hover, .navClass .listitem .works ul li:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .navClass .listitem .artists ul li a, .navClass .listitem .works ul li a {
    color: #83ff00;
    font-size: 18px;
    display: block;
  }
  .navClass .listitem .artists ul li::before, .navClass .listitem .works ul li::before {
    content: "";
  }
  .navClass .listitem .artists::before, .navClass .listitem .works::before {
    content: " ";
  }
  .navClass .listitem .artists::after, .navClass .listitem .works::after {
    content: "✖";
    position: absolute;
    top: 16px;
    left: 20%;
    transform: translate(50%, 50%) rotate(-45deg);
    font-size: 20px;
    font-weight: 600;
  }
  .navClass .listitem .works:hover ul, .navClass .listitem .artists:hover ul {
    border: none;
    box-shadow: none;
  }
  .navClass .listitem .artists:hover, .navClass .listitem .works:hover, .navClass .listitem .artOpen, .navClass .listitem .workOpen {
    color: #83ff00;
  }
  .navClass .listitem .artists:hover ul, .navClass .listitem .works:hover ul, .navClass .listitem .artOpen ul, .navClass .listitem .workOpen ul {
    height: 116px;
  }
  .navClass .listitem .artists:hover ul li a, .navClass .listitem .works:hover ul li a, .navClass .listitem .artOpen ul li a, .navClass .listitem .workOpen ul li a {
    color: #83ff00;
  }
  .navClass .listitem .artists:hover::after, .navClass .listitem .works:hover::after, .navClass .listitem .artOpen::after, .navClass .listitem .workOpen::after {
    top: 28px;
    transform: translate(50%, 50%) rotate(-90deg);
    opacity: 0;
  }
  .navClass .listitem .works:hover ul, .navClass .listitem .workOpen ul {
    height: 136px;
  }
  .navClass .onTitem {
    flex: 1.2;
  }
  .navClass .onTitem .carousel-manual {
    position: absolute;
    top: -42px;
    right: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navClass .onTitem .carousel-manual .manual-btn {
    color: #7f7f7f;
    display: inline-block;
    cursor: pointer;
    padding: 0px 4px;
    transition: 0.5s;
  }
  .navClass .onTitem .carousel-manual .manual-btn:hover {
    color: #fff;
  }
  .navClass .onTitem .carousel-manual .manual-btn:not(:last-child) {
    border-right: 1px solid #7f7f7f;
    padding-right: 12px;
    margin-right: 8px;
  }
  .navClass .onTitem .numBtns {
    position: absolute;
    top: -50px;
    right: 20px;
  }
  .navClass .lg_ontour {
    display: none;
  }
  .navClass .md_ontour {
    display: flex;
  }
  .navClass .md_ontour li {
    color: #83ff00;
  }
  .navClass .md_ontour li a {
    color: #83ff00;
  }
  .navClass #navId {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #fff;
  }
  .navClass #navId li {
    color: #fff;
  }
  .banner .banner_nav_btn {
    display: none;
  }
  .banner .banner_lang_btn {
    display: none;
  }
  .container {
    padding: 20px 40px;
  }
  .container .contact div {
    padding: 8px 10px 32px;
  }
  .container .contact div:nth-child(2) a {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .container .contact div:nth-child(2) a:hover {
    color: #83ff00;
  }
  .container .contact .socialMail {
    margin-right: 20px;
  }
  .container .contact .socialMedia {
    margin-right: 8px;
  }
  .container .contact .socialMedia img {
    width: 30px;
  }
  .container .contact .socialMedia a, .container .contact .socialMedia div {
    display: inline;
    width: 30px;
    cursor: pointer;
  }
  input[type=checkbox]:checked ~ .toggleIcon .Mline1 {
    transform: rotate(0deg);
    top: 0%;
  }
  input[type=checkbox]:checked ~ .toggleIcon .Mline2 {
    opacity: 1;
  }
  input[type=checkbox]:checked ~ .toggleIcon .Mline3 {
    transform: rotate(0deg);
    top: 0%;
  }
  input[type=checkbox]:checked ~ .toggleIcon:hover .Mline2 {
    width: 75%;
    margin-left: 12px;
  }
  input[type=checkbox]:checked ~ .toggleIcon:hover .Mline3 {
    width: 60%;
    margin-left: 16px;
  }
  input[type=checkbox]:checked ~ .navList {
    opacity: 0;
    display: none;
  }
}
@media (max-width: 720px) {
  .navClass .webLogo {
    padding: 0px 15px;
  }
  .navClass .navList {
    flex-direction: column;
    align-items: end;
    width: calc(100% - 20px);
    overflow: auto;
    height: 100vh;
    padding: 20px 10px;
  }
  .navClass .navList ul {
    justify-content: start;
  }
  .navClass .navList ul li {
    font-size: 36px;
    padding: 0px 0px 28px 0px;
  }
  .navClass .navList .logo {
    display: none;
  }
  .navClass .listitem {
    justify-content: space-around;
    text-align: left;
    padding: 0;
  }
  .navClass .listitem li {
    width: 138px;
  }
  .navClass .listitem .lg_ontour {
    display: none;
  }
  .navClass .listitem .artists ul li, .navClass .listitem .works ul li {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    padding: 6px 0px;
  }
  .navClass .listitem .artists::after, .navClass .listitem .works::after {
    position: absolute;
    font-size: 24px;
    top: 20px;
    left: 100px;
    transform: translate(0%, 0%) rotate(-45deg);
  }
  .navClass .listitem .artists:hover::before, .navClass .listitem .works:hover::before, .navClass .listitem .artOpen::before, .navClass .listitem .workOpen::before {
    transform: translate(0%, 0%) rotate(-90deg);
  }
  .navClass .listitem .artists:hover ul, .navClass .listitem .works:hover ul, .navClass .listitem .artOpen ul, .navClass .listitem .workOpen ul {
    height: 120px;
  }
  .navClass .listitem .works:hover ul, .navClass .listitem .workOpen ul {
    height: 148px;
  }
  .navClass .onTitem {
    border-top: 1px solid #fff;
    margin: 0px auto;
    padding: 12px;
    padding-bottom: 48px;
    flex: 1;
  }
  .navClass .onTitem .carousel-manual {
    top: -40px;
    right: 0;
  }
  .navClass .onTitem .tour-carousel-group .carousel-text {
    margin-right: 0;
  }
  .navClass .onTitem .tour-carousel-group .show {
    width: 70%;
  }
  .navClass .onTitem .tour-carousel-group .show .date {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .navClass #navId {
    position: relative;
    bottom: 100px;
    right: 0px;
  }
  .navClass .language {
    padding: 0px 8px;
  }
  .logo {
    z-index: -10;
    width: 120px;
    margin: 15px 17px;
  }
  .container {
    padding: 20px 16px;
  }
  .container h3 {
    display: block;
  }
  .container .contact {
    margin-top: 16px;
  }
  .container .contact div {
    width: 100%;
    padding: 10px 0px;
  }
  .container .contact div:nth-child(1) a {
    margin: 0;
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 26px;
  }
  .container .contact div:nth-child(2) {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .footer p {
    width: 30%;
  }
}
@keyframes marqueeLoop {
  0% {
    left: 150%;
  }
  100% {
    left: -150%;
  }
}
@keyframes bannerSlide {
  0% {
    background-image: url(img/banner-02.jpg);
  }
  20% {
    background-image: url(img/banner-02.jpg);
  }
  30% {
    background-image: url(img/banner-03.jpg);
  }
  45% {
    background-image: url(img/banner-03.jpg);
  }
  55% {
    background-image: url(img/banner-04.jpg);
  }
  70% {
    background-image: url(img/banner-04.jpg);
  }
  80% {
    background-image: url(img/banner-01.jpg);
  }
  100% {
    background-image: url(img/banner-01.jpg);
  }
}/*# sourceMappingURL=main.css.map */