@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;600;700&display=swap');
@import url("https://use.typekit.net/cfw8pqb.css");

$white:#fff;
$black:#231815;
$green:#83ff00;
$gray:#7f7f7f;

*{
    margin: 0;
    padding: 0;
    font-weight: 300;
    position: relative;
}
body{
    font-family: 'din-condensed','Noto Serif TC', sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 200vh;
}
#toggleSidebar{
    display: none;
}
.navClass{
    width: 100%;
    height: 58px;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $black solid;
    background-color: #fff;
    z-index: 2;
    .webLogo{
        cursor: pointer;
        padding: 0px 20px 0px 40px;
        svg{
            width: 220px;
            fill: $black;
        }
    }
    .hamBtn{
        display: none;
    }
    .md_ontour{
        display: none;
    }
}
.navList{
    opacity: 1;
    width: 70%;
    ul{
        display: flex;
    }
    li{
        list-style: none;
        margin: 0px 20px 0px 0px;
        padding: 0px 5px 5px 5px;
        font-size: 28px;
        cursor: pointer;
        &::after{
            content: '';
            width: 0%;
            height: 2px;
            border-radius: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $green;
            transition: 0.3s;
        }
        &:hover::after{
            width: 80%;
        }
    }
    #navId{
        position: absolute;
        bottom: 0%;
        right: 0;
    }
}

.language{
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 20px;
    a{
        text-decoration: none;
        color: black;
    }
    li{
        margin: 0px 5px;
        padding: 0px 5px 5px 5px;
        font-size: 18px;
        list-style: none;
        &::after{
            content: '';
            width: 0%;
            height: 2px;
            border-radius: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $green;
            transition: 0.3s;
        }
        &:hover::after{
            width: 100%;
        }
    }
}
///logo
.logo{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 160px;
    margin: 36px 40px;
}
.cls-logo {
    fill: $green;
}
//banner

.banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 580px;
    overflow: hidden;
    z-index: 3;
    img{
        width: 100%;
        object-fit: cover;
    }
    .banner_nav_btn{
        position: absolute;
        top: 58px;
        left: 40px;
        z-index: 3;
        font-size: 28px;
        li{
            list-style: none;
            margin: 0px 0px 10px 0px;
            font-weight: 500;
            letter-spacing: 1px;
            color: $white;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                color: $green;
            }
        }
        .socialMedia{
            display: flex;
            svg{
                width: 30px;
                margin-right: 5px;
                fill:$white;
                transition: 0.3s;
                &:hover{
                    fill: $green;
                }
            }
        }
    }
    .banner_lang_btn{
        position: absolute;
        color: $white;
        top: 16px;
        right: 0;
        z-index: 3;
        li{
            color: $white;
            &:hover{
                color: $green;
            }
        }
    }
}
///內文
.contain{
    top: 620px;
    margin: 0px auto;
    text-align: center;
    
    h2{
        margin: 0;
        padding: 10;
        font-weight: 400;
    }
    p{
        margin: 0;
        padding: 20px;
    }
}

///footer
.footer{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    text-align: center;
    padding: 20px 0px;
    font-size: 14px;
}

@media(max-width:1060px){//平板
    
    .navClass{
        .toggleIcon{
            width: 40px;
            height: 40px;
            margin-right: 40px;
            transform: translateY(-50%);
            top: 45%;
            cursor: pointer;
            div{
                background-color: $black;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                transition: all 0.3s;
            }
            .Mline1{
                transform: rotate(45deg);
                top: 35%;
            }
            .Mline2{
                margin: 12px 0px;
                opacity: 0;
            }
            .Mline3{
                transform: rotate(-45deg);
                top: -35%;
            }
            
        }
        z-index: 10;
        .navList{
            display: flex;
            padding: 40px 0px;
            width: 100%;
            position: absolute;
            top: 58px;
            left: 0;
            background-color: rgba(#000,0.9);
            color: $white;
            transition: all 0.3s;
            ul{
                flex-direction: column;
                li{
                    font-size: 40px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    margin: 0;
                    padding: 0px 0px 30px 0px;
                    transition: 0.3s;
                    &:hover{
                        color: $green;
                    }
                    &:hover::after{
                        width: 0%;
                    }
                }
            }
        }
        .listitem{
            flex: 1;
            justify-content: space-around;
            padding: 0px 0px 0px 52px;
        }
        .onTitem{
            flex: 1.2;
            .numBtns{
                color: $gray;
                position: absolute;
                bottom: 30px;
                right: 52px;
                font-size: 20px;
                a{
                    padding: 0px 5px;
                }
                .active{
                    color: $white;
                }
            }
            .navArrow{
                position: absolute;
                height: 48px;
                right: 52px;
                top: 65%;
                img{
                    width: 52px;
                    transform: translateY(-50%);
                }
            }
        }
        .lg_ontour{
            display: none;
        }
        .md_ontour{
            display: flex;
            color: $green;
        }
        #navId{
            position: absolute;
            right: 0;
            bottom: 10px;
            color: $white;
            li{
                color: $white;
            }
        }
    }
    .banner{
        .banner_nav_btn{
            display: none;
        }
        .banner_lang_btn{
            display: none;
        }
    }
    .tour-carousel-group{
        height: 48px;
        overflow: hidden;
        margin-bottom: 40px;
        .carousel-text{
            width: 70%;
            height: 48px;
            overflow: hidden;
            .showdate{
                font-size: 16px;
            }
            .program{
                display: block;
                position: absolute;
                margin-top: 3px;
                font-size: 20px;
                width: 180%;
            }
        }
    }
    .textWhite{
        color: $white;
        .carousel-text{
            transform: translateY(0%);
            .program{
                animation: marquee 6s linear;
                animation-delay: 1s;
                &:hover{
                    animation: marqueeLoop 8s linear infinite;
                    animation-delay: -3.8s;
                }
            }
        }
    }
    .textGray{
        color: $gray;
        .carousel-text{
            transform: translateY(-100%);
        }
    }
    input[type="checkbox"]:checked ~ .toggleIcon {
        .Mline1{
            transform: rotate(0deg);
            top: 0%;
        } 
        .Mline2{
            opacity: 1;
        }
        .Mline3{
            transform: rotate(0deg);
            top: 0%;
        }
        &:hover{
            .Mline2{
                width: 75%;
                margin-left: 12px;
            }
            .Mline3{
                width: 60%;
                margin-left: 16px;
            }
        }
    }
    // input[type="checkbox"]:checked ~ .toggleIcon > .Mline2{
    //     opacity: 1;
    // }
    // input[type="checkbox"]:checked ~ .toggleIcon > .Mline3{
    //     transform: rotate(0deg);
    //     top: 0%;
    // }
    
    input[type="checkbox"]:checked ~ .navList{
        opacity: 0;
    }
}


@media(max-width:720px){//行動版
    .navClass{
        .webLogo{
            padding: 0px 15px;
        }
        .navList{
            flex-direction: column;
            height: calc(100vh - 58px);
            padding: 24px 0px;
            ul{
                li{
                    font-size: 36px;
                    padding: 0px 0px 20px 0px;
                }
            }
        }
        .listitem{
            justify-content: space-around;
            text-align: left;
            padding: 0;
            align-items: center;
            li{
                width: 138px;
            }
            .lg_ontour{
                display: none;
            }
        }
        .onTitem{
            border-top: 1px solid $white;
            margin: 0px 16px;
            padding: 12px;
            flex: 1;
            .numBtns{
                bottom: 26px;
                right: 0px;
                font-size: 16px;
                a{
                    padding: 0px 3px;
                }
            }
            .navArrow{
                height: 48px;
                right: 0px;
                top: 60%;
                img{
                    width: 52px;
                    transform: translateY(-50%);
                }
            }
        }
        
        #navId{
            bottom: 60px;
        }
        .language{
            padding: 0px 8px;
        }
    }
    .logo{
        z-index: 10;
        width: 120px;
        margin: 15px 17px;
    }
    .tour-carousel-group{
        height: 46px;
        margin-bottom: 30px;
        .carousel-text{
            width: 80%;
            height: 45px;
            .showdate{
                font-size: 16px;
            }
            .program{
                margin-top: 3px;
                font-size: 18px;
                width: 180%;
            }
        }
    }
}

@keyframes marquee {
    0% { left: 0%; }
    93% { left: -150%; opacity: 1;}
    94% { left: -150%; opacity: 0;}
    95% {opacity: 0; left: 0%;}
    100% {opacity: 1; left: 0%;}
  }

@keyframes marqueeLoop {
    0% { left: 150%; }
    100% { left: -150%;}
  }


