@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;600;700&display=swap');
@import url("https://use.typekit.net/cfw8pqb.css");

$white:#fff;
$black:#231815;
$green:#83ff00;

*{
    margin: 0;
    padding: 0;
    font-weight: 300;
    position: relative;
}
body{
    font-family: 'din-condensed','Noto Serif TC', sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 200vh;
}



.navClass{
    width: 100%;
    height: 58px;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $black solid;
    background-color: #fff;
    z-index: 2;
    .webLogo{
        cursor: pointer;
        padding: 0px 40px;
        svg{
            width: 220px;
            fill: $black;
        }
    }
    .md_ontour{
        display: none;
    }
}
.navList{
    ul{
        display: flex;
    }
    li{
        list-style: none;
        margin: 0px 20px;
        padding: 0px 5px 5px 5px;
        font-size: 28px;
        cursor: pointer;
        border-bottom: 2px solid $white;
        transition: 0.3s;
        &:hover{
            border-bottom: 2px solid $green;
        }
    }
}

.language{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 40px;
    a{
        text-decoration: none;
        color: black;
    }
    li{
        margin: 0px 5px;
        padding: 0px 5px 5px 5px;
        list-style: none;
        border-bottom: 2px solid $white;
        transition: 0.3s;
        &:hover{
            border-bottom: 2px solid $green;
        }
    }
}
///logo
.logo{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 160px;
    margin: 36px 40px;
}
.cls-logo {
    fill: $green;
}
//banner

.banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 580px;
    overflow: hidden;
    z-index: 3;
    img{
        width: 100%;
        object-fit: cover;
    }
    .banner_nav_btn{
        position: absolute;
        top: 58px;
        left: 40px;
        z-index: 3;
        font-size: 28px;
        li{
            list-style: none;
            margin: 0px 0px 20px 0px;
            font-weight: 500;
            letter-spacing: 1px;
            color: $white;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                color: $green;
            }
        }
        .socialMedia{
            display: flex;
            svg{
                width: 30px;
                margin-right: 5px;
                fill:$white;
                transition: 0.3s;
                &:hover{
                    fill: $green;
                }
            }
        }
    }
    .banner_lang_btn{
        position: absolute;
        color: $white;
        top: 16px;
        right: 0;
        z-index: 3;
        li{
            color: $white;
            border-bottom: 0px solid $white;
            &:hover{
                color: $green;
            }
        }
    }
}
///內文
.contain{
    top: 620px;
    margin: 0px auto;
    text-align: center;
    
    h2{
        margin: 0;
        padding: 10;
        font-weight: 400;
    }
    p{
        margin: 0;
        padding: 20px;
    }
}

///footer
.footer{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    text-align: center;
    padding: 20px 0px;
    font-size: 14px;
}
@media(max-width:960px){//平板
    .navClass{
        z-index: 10;
        .navList{
            display: flex;
            padding: 40px 0px;
            width: 100%;
            position: absolute;
            top: 58px;
            left: 0;
            background-color: rgba(#000,0.9);
            color: $white;
            ul{
                flex-direction: column;
                li{
                    font-size: 40px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    margin: 0;
                    padding: 0px 0px 30px 0px;
                    border-bottom: 0px solid #000;
                }
            }
        }
        .listitem{
            flex: 1;
            padding: 0px 0px 0px 52px;
        }
        .onTitem{
            flex: 1;
        }
        .lg_ontour{
            display: none;
        }
        .md_ontour{
            display: flex;
            color: $green;
        }
        #navId{
            position: absolute;
            right: 0;
            top: 58px;
            color: $white;
            li{
                color: $white;
            }
        }
    }
    .banner{
        .banner_nav_btn{
            display: none;
        }
        .banner_lang_btn{
            display: none;
        }
    }
    .cls-logo {
        fill: #0000ff;
    }
}
@media(max-width:720px){//行動版
    .navClass{
        .navList{
            flex-direction: column;
        }
        .listitem{
            text-align: left;
            flex: 1;
            padding: 0px 0px 0px 0px;
            align-items: center;
            li{
                display: inline-block;
                width: 163px;
                padding: 0px 0px 40px 0px;
            }
            .lg_ontour{
                display: none;
            }
        }
        .onTitem{
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            margin: 0px 16px;
            padding: 40px 24px;
        }
        
    }
    .cls-logo {
        fill: #231815;
    }
    
}



