$white:#fff;
$black:#231815;
$green:#83ff00;
$gray:#7f7f7f;
$dark-gray:#292423;

body{
    position: relative;
}

.content{
    top: 90px;
    padding:0px 40px;
    h3{
        font-size: 42px;      
        padding: 16px 0px;
    }
    .about{
        position: relative;
    }
    .indexTit{
        margin-top: 60px;
        padding-top: 0px;
    }
    .ab_text{
        text-align: left;
        width: 100%;
        max-width: 1000px;
        height: 400px;
        padding: 60px 0px;
        p{
            line-height: 2;
            padding: 12px 0px;
        }
        
        .shape{
            width: 60%;
            height: 100%;
            float: right;
            shape-outside: circle(55%);
        }
    }
    .ab_img{
        position: absolute;
        width: 50%;
        right: 40%;
        top: 0;
        transform: translateX(50%);
        p{
            text-align: center;
            padding: 0;
            transform: translateY(130%);
        }
        img{
            width: 100%;
            opacity: 0.7;
        }
        span{
            position: relative;
            display: block;
            bottom: 0;
            right: 0;
            transform: translateY(-200%);
            font-size: 20px;
            text-align: right;
        }
    }
}
.footer{
    margin-top: 300px;

}

@media(max-width:1480px){
    .content{
        .ab_img{
            width: 60%;
            right: 30%;
            top: 0;
            p{
                transform: translateY(50%);
            }
            span{
                transform: translateY(-50%);
            }
        }
    }
}

@media(max-width:1140px){
    .content{
        .ab_img{
            width: 50%;
            right: 30%;
            top: 90px;
        }
    }
}

@media(max-width:720px){
    .content{
        .about{
            display: flex;
            flex-direction: column;
        }
        .ab_text{
            padding: 32px 0px;
            height: auto;
            .shape{
                display: none;
            }
        }
        .ab_img{
            position: relative;
            width: 100%;
            right: 0%;
            top: 0;
            transform: translateX(0%);
        }
    }
}