$white:#fff;
$black:#231815;
$green:#83ff00;
$gray:#7f7f7f;
$dark-gray:#292423;

body{
    position: relative;
}

.content{
    top: 90px;
    padding:0px 40px;
    h3{
        font-size: 42px;      
        padding: 16px 0px;
    }
    .about{
        position: relative;
        margin-bottom: 200px;
    }
    .indexTit{
        margin-top: 60px;
        padding-top: 0px;
    }
    .ab_text{
        text-align: left;
        width: 100%;
        max-width: 1000px;
        height: 400px;
        padding: 60px 0px;
        p{
            line-height: 2;
            padding: 12px 0px;
        }
        
        .shape{
            width: 60%;
            height: 100%;
            float: right;
            shape-outside: circle(55%);
        }
    }
    .ab_img{
        position: absolute;
        width: 50%;
        right: 40%;
        top: 0;
        transform: translateX(50%);
        p{
            text-align: center;
            padding: 0;
            transform: translateY(130%);
        }
        img{
            width: 100%;
            opacity: 0.7;
        }
        span{
            position: relative;
            display: block;
            bottom: 0;
            right: 0;
            transform: translateY(-200%);
            font-size: 20px;
            text-align: right;
        }
    }
}
#bai{
    margin-top: 92px;
}
.profilo{
    display: flex;
    flex-direction: row;
    position: relative;
    .intro, .artist_photo{
        height: 100vh;
        height: 720px;
    }
    .artist_photo{
        position: sticky;
        max-height: 100vh;
        top: 58px;
        .tags{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            li{
                height: 52px;
                line-height: 52px;
                list-style: none;
                font-size: 26px;
                padding: 0px 32px;
                margin: 16px 20px 0px 0px;
                border: 2px solid #231815;
                border-radius: 26px;
            }
        }
    }  
    .intro{
        position: relative;
        margin-bottom: 46px;
    }  
    img{
        height: 100%;
    }
    .conText{
        max-width: 1000px;
        padding: 0px 12px 0px 52px;
        backdrop-filter: blur(4px);
        h2{
            font-size: 42px;
            font-weight: 400;
        }
        .identity{
            font-size: 16px;
            line-height: 32px;
        }
        p{
            padding-top: 16px;
            font-size: 20px;
            line-height: 1.6;
        }
        .tags{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            bottom: 0;
            li{
                height: 52px;
                line-height: 52px;
                list-style: none;
                font-size: 26px;
                padding: 0px 32px;
                margin: 16px 20px 0px 0px;
                border: 2px solid #231815;
                border-radius: 26px;
            }
        }
        h4{
           font-size: 20px; 
           font-weight: 600;
           margin-bottom: 20px;
           &::after{
            content: url(../img/list-arow.svg);
            width: 16px;
            height: 16px;
           }
        }
        .explist{
            margin-bottom: 32px;
            li{
                font-size: 14px;
                line-height: 20px;
                list-style: none;
                padding: 4px 0px;
            }
            span:nth-child(1){
                font-weight: 400;
            }
        }
    }
}
.projectImg{
    margin-top: 70px;
    width: 100%;
    overflow-x: scroll;
    ul{
        display: flex;
        justify-content: start;
    }
    li{
        list-style: none;
        margin: 10px 20px 10px 0px;
        img{
            width: 280px;
            height: 180px;
            object-fit: cover;
        }
    }
}
#bai{
    .intro{
        height: 56vh;
    }
    .artist_photo{
        height: auto;
        width: 560px;
    }
    img{
        height: auto;
        width: 560px;
    }
}

.footer{
    margin-top: 300px;
}

@media(max-width:1480px){
    .content{
        .ab_img{
            width: 60%;
            right: 30%;
            top: 0;
            p{
                transform: translateY(50%);
            }
            span{
                transform: translateY(-50%);
            }
        }
    }
    
}

@media(max-width:1140px){
    .content{
        .ab_img{
            width: 50%;
            right: 30%;
            top: 90px;
        }
        .about{
            margin-bottom: 100px;
        }
    }
    
    .profilo{
        flex-direction: column;
        .artist_photo{
            position: static;
            max-height: none;
            height: auto;
            padding: 16px 36px;
        }  
        .intro{
            height: auto;
        }  
        img{
            height: auto;
            width: 80vw;
            max-width: 400px;
        }
        .conText{
            padding: 0px 36px;
            .tags{
                position: relative;
                margin-top: 24px;
            }
        }
    }
    .projectImg{
        li{
            img{
                width: 200px;
                height: 120px;
                object-fit: cover;
            }
        }
    }
    #bai{
        .intro{
            height: auto;
        }
        .artist_photo{
            height: auto;
            width: auto;
        }
        img{
            max-width: 560px;
        }
    }
}

@media(max-width:720px){
    .content{
        .about{
            display: flex;
            flex-direction: column;
        }
        .ab_text{
            padding: 32px 0px;
            height: auto;
            .shape{
                display: none;
            }
        }
        .ab_img{
            position: relative;
            width: 100%;
            right: 0%;
            top: 0;
            transform: translateX(0%);
        }
    }
    .profilo{
        .artist_photo, .conText{
            padding: 12px 0px;
        }
        .conText{
            p{
                font-size: 18px;
            }
            .explist{
                li{
                    font-size: 16px;
                    line-height: 24px;
                    padding: 6px 0px;
                }
            }
        }
    }
    #bai{
        img{
            max-width: none;
            width: 100%;
        }
    }
}