$white:#fff;
$black:#231815;
$green:#83ff00;
$gray:#7f7f7f;
$dark-gray:#292423;

body{
    position: relative;
}

.content{
    top: 90px;
    padding:0px 40px;
    h3{
        font-size: 42px;      
        padding: 0;
    }
}