.banner .imgs {
  background-image: url(../img/banner_ontour.jpg);
  animation: none;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.breadcrumb a {
  text-decoration: none;
  color: #7f7f7f;
  font-size: 20px;
}
.breadcrumb a::after {
  content: " > ";
  position: absolute;
  color: #231815;
  right: -12px;
}
.breadcrumb .now_page {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-left: 16px;
}

.content h3 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  padding: 0px 16px;
  margin: 0;
}
.content .set_name {
  margin-top: 32px;
  padding: 0px 16px;
  text-align: left;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.program {
  display: flex;
}

.programText {
  flex: 1;
}
.programText p {
  text-align: left;
  padding: 8px 20px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #7f7f7f;
}
.programText h5 {
  text-align: left;
  margin-top: 16px;
  padding: 8px 20px;
  font-size: 24px;
  font-family: "Din Kursivschrift Breit", sans-serif;
}
.programText .intro {
  color: #231815;
  font-weight: 400;
}
.programText .detail {
  margin-top: 16px;
}
.programText .detail p {
  padding: 0px 20px;
  font-size: 18px;
}
.programText .credits {
  font-size: 20px;
  line-height: 2;
  font-weight: 600;
  padding: 0px 20px;
  margin-bottom: 16px;
}
.programText .credits p {
  padding: 0;
}

.programImg {
  flex: 1;
  padding: 0px 16px;
}
.programImg img {
  width: 100%;
}

.season {
  display: flex;
  margin-top: 72px;
}

.seasonintro {
  flex: 1;
}
.seasonintro h5 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 20px;
}
.seasonintro p {
  text-align: left;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.8;
}
.seasonintro .img {
  padding: 8px 16px;
}
.seasonintro .img img {
  width: 100%;
}

.tic_collect {
  padding: 0px 20px;
  flex: 1;
}
.tic_collect li {
  position: relative;
  list-style: none;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #231815;
  padding: 8px;
}
.tic_collect li .time {
  font-family: "DINcondensed_Bold";
  text-align: left;
  font-size: 22px;
  width: 105px;
  padding: 8px;
  letter-spacing: 1px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(238, 238, 238, 0.5);
}
.tic_collect li .time p {
  padding: 0;
}
.tic_collect li .time span {
  font-size: 52px;
  display: block;
  font-weight: 500;
}
.tic_collect li .tic_name {
  flex: 3;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  padding: 8px;
  background-color: rgba(238, 238, 238, 0.5);
}
.tic_collect li .tic_btn {
  position: absolute;
  width: 120px;
  height: 55px;
  right: 0;
  bottom: -1px;
  border: 1px solid #231815;
  transition: 0.3s;
  overflow: hidden;
}
.tic_collect li .tic_btn img {
  transition: 0.3s;
  width: 200%;
  transform: translateX(-50%);
}
.tic_collect li .tic_title {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}
.tic_collect li .locat {
  display: flex;
  align-items: start;
}
.tic_collect li .locat svg {
  width: 15px;
  padding: 6px 0px;
}
.tic_collect li .locat p {
  padding: 0px 8px;
  text-align: left;
  width: 310px;
}
.tic_collect li:hover .time {
  color: #83ff00;
  background-color: #7f7f7f;
}
.tic_collect li:hover .tic_name {
  color: #83ff00;
  background-color: #7f7f7f;
}
.tic_collect li:hover .tic_name .locat {
  color: #fff;
}
.tic_collect li:hover .tic_name .locat svg {
  fill: #fff;
}
.tic_collect li:hover .tic_btn {
  border: 1px solid rgba(35, 24, 21, 0);
}
.tic_collect li:hover .tic_btn img {
  transform: translateX(0%);
}

@media (max-width: 1140px) {
  .program {
    flex-direction: column;
  }
  .season {
    flex-direction: column;
    margin-top: 36px;
  }
  .tic_collect {
    margin-top: 36px;
  }
}
@media (max-width: 720px) {
  .content .program .set_name {
    line-height: 1.5;
    padding: 0px 20px;
  }
  .content .program h3 {
    width: auto;
    height: auto;
    padding: 8px 20px;
    margin: 0px 0px 8px 0px;
    line-height: 1.2;
  }
  .tic_collect {
    padding: 0;
  }
  .tic_collect li {
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 8px;
  }
  .tic_collect li .time {
    font-size: 18px;
    padding-bottom: 8px;
    height: 120px;
    width: 90px;
  }
  .tic_collect li .time span {
    font-size: 42px;
  }
  .tic_collect li .tic_name {
    justify-content: start;
    padding-bottom: 8px;
    height: 120px;
  }
  .tic_collect li .tic_name .tic_title {
    font-size: 22px;
  }
  .tic_collect li .tic_btn {
    display: none;
  }
  .tic_collect li .locat {
    padding-top: 8px;
  }
  .tic_collect li .locat p {
    width: auto;
  }
  .tic_collect li::after {
    content: "GetTicket";
    font-size: 24px;
    font-family: "Din Kursivschrift Breit", sans-serif;
    border: 1px solid #7f7f7f;
    width: calc(100% - 2px);
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    bottom: 2px;
  }
  .tic_collect li:hover .time {
    background-color: none;
  }
  .tic_collect li:hover .tic_name {
    background-color: none;
  }
  .tic_collect li:hover::after {
    border: 1px solid #7f7f7f;
    color: #83ff00;
    background-color: #231815;
  }
}
@media (max-width: 430px) {
  .tic_collect li .time {
    height: 128px;
    justify-content: space-around;
  }
  .tic_collect li .tic_name {
    height: 128px;
  }
  .tic_collect li .tic_name .locat {
    position: relative;
  }
}/*# sourceMappingURL=ontourshow.css.map */