$white:#fff;
$black:#231815;
$green:#83ff00;
$gray:#7f7f7f;


.para{
    max-width: 1260px;
    background-color: #eee;
    padding: 16px;
    margin: 0 auto;
    h3{
        display: block;
        font-size: 36px;
        font-weight: 500;
        padding: 16px 0px;
        text-align: left;
    }
    .perfor_box{
        margin: 0px 0px 30px 0px;
        display: flex;
        justify-content: start;
        align-items: end;
        border-bottom: solid $black 1px ;
        .perforImg{
            width: 200px;
            height: 150px;
            background-color: #222;
        }
        .perforContext{
            flex: 2;
            height: 150px;
            padding: 0px 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div{
                text-align: left;
            }
            .date{
                font-size: 20px;
                padding: 4px 0px;
            }
            .showName{
                flex: 2;
                font-size: 24px;
                font-weight: 600;
            }
            .location{
                position: relative;
                font-size: 16px;
                padding: 8px 0px;
                font-weight: 600;
                svg{
                    position: relative;
                    bottom: -3px;
                    width: 16px;
                    margin: 0px 4px;
                    fill:$black;
                }
            }
        }
        .getTicket{
            width: 150px;
            height: 45px;
            cursor: pointer;
            border: 1px solid $black;
            border-bottom: 0px;
            font-size: 30px;
            line-height: 45px;
            font-family:'Din Kursivschrift Breit';
            transform: translateY(1px);
        }
    }
}